/* font-family */
/* Arial 글꼴이 기본 베이스임 
   쉼표가 들어가면 ex. 글씨체1, 글씨체2, 글씨체3 
   만약에 글씨체1이 없으면 대체로 글씨체2가 쓰이고, 글씨체 2가 없으면 대체로
   글씨체3이 쓰임
*/
#ff1 {
  font-family: Arial, Helvetica, sans-serif;
}
#ff2 {
  font-family: "궁서", serif;
}
#ff3 {
  font-family: "돋움", sans-serif;
}

#ff4 {
  font-family: "Dokdo", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* font-weight */
#fw1 {
  font-weight: bold;
}
#fw2 {
  font-weight: 900;
}
#fw3 {
  font-weight: 100;
}
/* font-size */
/* 1rem = 16px */
#fs1 {
  font-size: 32px;
}
#fs2 {
  /* 부모 요소의 글자 크기 × 2배 */
  /*부모가 30px-> 30 x 2 =60px */
  font-size: 2em;
}
#fs3 {
  /* 기본 크기 16px(브라우저 기본값) x 2 = 32px */
  font-size: 2rem;
}
#fs4 {
  /*font-size가 200%라면 부모 크기 30px x 2 = 60px */
  font-size: 200%;
  /* 만약에 font-size가 100%면 부모크기 30px x 1 = 30px
  font-size가 50%라면 부모크기 30px x 0.5 = 15px*/
}
/* font-style */
#fs5 {
  font-style: italic;
}

#fs6 {
  font-style: oblique;
}

/* font-variant */
#fv {
  font-variant: small-caps;
}
/* font */
#font1 {
  /* font-style font-variant font-weight font-size/line-height(줄 간격) font-family(글꼴 이름)
  순서대로 기억해야 함 그리고 순서로 써야함*/
  /* 줄 간격(line-height) = 한 줄의 글자가 차지하는 전체 높이 */
  /* 32px/2면 32px가 폰트 사이즈이고 줄 가격이 2배라는 뜻 */
  /* 가변에서는 계산하기 쉬운건 rem (그래서 주로 이거를 씀) em이나 %는 부모 태그에 따라 상대적이다
     그에 비해 rem은 브라우저 기준 16px = 1rem */
  font: italic small-caps bold 32px/2 "East Sea Dokdo";
}
#font2 {
  font-size: 2rem;
  font-family: "East Sea Dokdo"; /* = font: 2rem "East Sea Dokdo"라고 해도 됨 순서만 지켜주기!*/
}
/* color */
#c-name {
  /* 색상명 : 브라우저가 인식하는 기본 색상명 (Web Safe Colors, 216가지 있음) */
  color: rebeccapurple;
}
#c-16 {
  /* #RRGGBB */
  color: #dd882e;
}
#c-rgb {
  /* Red(0~255) Green(0~225), Blue(0~225), Alpha(투명도, 0~1)  */
  color: rgb(93, 34, 34);
  color: rgb(0, 0, 0, 0.5);
}
#c-hsl {
  /* 색상환(H, 0~360) 채도(S, 0~100%) 밝기(L,0~100%) 투명도(A, 0~1)*/
  /* hue: 색상 / saturation 채도(선명함) / Lightness(명도)*/
  color: hsl(200, 50%, 50%, 0.2);
}
/* text-decoration */
#td1 {
  text-decoration: underline;
}
#td2 {
  text-decoration: overline;
}
#td3 {
  text-decoration: line-through;
}
#td4 {
  text-decoration: none;
}
#tt1 {
  text-transform: uppercase;
}
#tt2 {
  text-transform: lowercase;
}
#tt3 {
  text-transform: capitalize;
}
/* text-shadow */
.shadow {
  font-size: 50px;
  font-weight: 900;
}
#ts1 {
  color: orangered;
  /* 첫번째 5px은 X축을 뜻함, 두번째 5px은 Y축을 뜻함, 세번째 5px는 blur(흐린정도)를 뜻함
  마지막은 color */
  text-shadow: 5px 5px 5px yellow;
}
#ts2 {
  color: white;
  text-shadow: 0px 0px 10px yellowgreen;
}
#ts3 {
  text-shadow: 0px 0px 4px rgb(10, 155, 111), 0px -5px 4px yellow,
    0px -10px 8px orange, 0px -15px 15px rgb(77, 43, 199), 0px -22px 20px red;
}
/* white-space */
#whs {
  white-space: pre-wrap;
}
/* letter-spacing / word-spacing */
#ls {
  letter-spacing: 10px;
}
#ws {
  word-spacing: 20px;
}
/* text-align */
#ta1 {
  text-align: left;
}
#ta2 {
  text-align: right;
}
#ta3 {
  text-align: center;
}
#ta4 {
  text-align: justify;
}
/* text-indent */
#ti {
  text-indent: 10px;
}
#lh {
  line-height: 2; /*여기서 2는 해당 기준 표준의 2배 */
}
/* text-overflow */
#to {
  background: beige;
  width: 500px;
  /* nowrap: 줄바꿈하지 않음*/
  /* HTML이나 CSS에서 기본적으로 텍스트는 공백이나 줄이 길어지면 자동으로 줄 바꿈을 해줘.
   하지만 white-space: nowrap;을 쓰면 그 줄이 아무리 길어져도 한 줄로 계속 이어서 출력돼. */
  white-space: nowrap;
  overflow: hidden;
  /*  텍스트가 박스 너비보다 길어서 넘칠 때, 그 넘치는 부분을 잘라내고 말줄임표(…)로 표시해줌 */
  text-overflow: ellipsis;
}
/* list-style */
ul.circle {
  list-style: circle;
}
ul.square {
  list-style: square;
}
ul.none {
  list-style: none;
}
