.center-box {
  width: 250px;
  height: 300px;
  line-height: 100px;
  background: rgb(120, 38, 197);
  color: white;
  text-align: center;
  line-height: 500px;
  margin: auto;
  border: 2px solid;
}

.radius-box {
  width: 120px;
  height: 120px;
  background: rgb(224, 105, 224);
  color: white;
  text-align: center;
  line-height: 120px;
  margin-bottom: 10px;
}
.radius1 {
  border-radius: 50%;
}
.display {
  background-color: aliceblue;
  padding: 10px;
  margin: 5px;
  width: 20px;
  height: 20px;
}
.display-block {
  display: block;
}
